{% extends 'admin_templates/admin_header_footer.html'%}
{% load static %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% block content %}

<div class="main-panel">
    <div class="content-wrapper">
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-sm-flex align-items-center mb-4">
            <h4 class="card-title mb-sm-0">Blog Details</h4>
          </div>
          <div class="table-responsive border rounded p-1">
            <table class="table">
              <thead>
                <tr>
                  <th class="font-weight-bold">Blog ID</th>
                  <th class="font-weight-bold">Blog Name</th>
                  <th class="font-weight-bold">Blog content</th>
                  <th class="font-weight-bold">Blog Author</th>
                  <th class="font-weight-bold">blog Image</th>
                  <th class="font-weight-bold">Created Date</th>
                  <th class="font-weight-bold">Created Time</th>
                  <th class="font-weight-bold">delete</th>
                  <th class="font-weight-bold">edit</th>
                  <th class="font-weight-bold">view</th>

                </tr>
              </thead>
              <tbody>
                {% for i in blog %}
                <tr style="border: solid 1px;">
                  <td style="border: solid 1px;">{{i.id}}</td>
                  <td style="border: solid 1px;">{{i.blog_name}}</td>
                  <td style="border: solid 1px;">{{ i.blog_content|truncatewords:3 }}</td>
                    <td style="border: solid 1px;">{{i.blog_author}}</td>

                  <td style="border: solid 1px;">
                      {% if i.blog_img %}
                          <img src="{{ i.blog_img.url }}" alt="Blog Image" style="max-width: 100px;">
                      {% else %}
                          No Image
                      {% endif %}
                  </td>

                    <td style="border: solid 1px;">{{i.created_date}}</td>
                    <td style="border: solid 1px;">{{i.created_time}}</td>
                    <td style="border: solid 1px;"><a href="{% url 'delete_blog' i.id %}">
                      <i class="icon-trash menu-icon" style="color: red;"></i>
                    </a></td>
                    <td style="border: solid 1px;"><a href="{% url 'edit_blog' i.id %}">
                    edit
                    </a></td>
                    <td style="border: solid 1px;"><a href="{% url 'view_blog' i.id %}">
                    view
                    </a></td>
                </tr>
                {% endfor %}


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
</div>

{% endblock %}