{% extends 'admin_templates/admin_header_footer.html' %}
{% load static %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% block content %}

<div class="main-panel">
    <div class="content-wrapper"> 

        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-sm-flex align-items-center mb-4">
                            <h4 class="card-title mb-sm-0">Product Details</h4>
                        </div>
                        <div class="table-responsive border rounded p-1">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="font-weight-bold">SL NO</th>
                                        <th class="font-weight-bold">Product Name</th>
                                        <th class="font-weight-bold">Brand</th>
                                        <th class="font-weight-bold">Price</th>
                                        <th class="font-weight-bold">Discount Price</th>
                                        <th class="font-weight-bold">Category</th>
                                        <th class="font-weight-bold">Image</th>
                                        <th class="font-weight-bold">Delete</th>
                                        <th class="font-weight-bold">Edit</th>
                                        <th class="font-weight-bold">view</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                    <tr style="border: solid 1px;">
                                        <td style="border: solid 1px;">{{ forloop.counter }}</td>
                                        <td style="border: solid 1px;">{{ product.product_name|truncatewords:3 }}</td>
                                        <td style="border: solid 1px;">{{ product.product_brand }}</td>
                                        <td style="border: solid 1px;">{{ product.product_price }}</td>
                                        <td style="border: solid 1px;">{{ product.discount_price }}</td>
                                        <td style="border: solid 1px;">{{ product.product_category }}</td>
                                        <td style="border: solid 1px;">
                                            {% if product.product_image %}
                                                <img src="{{ product.product_image.url }}" alt="Product Image" style="max-width: 100px;">
                                            {% else %}
                                                No Image
                                            {% endif %}
                                        </td>
                                        <td style="border: solid 1px;"><a href="{% url 'product_delete' product.id %}">
                                            <i class="icon-trash menu-icon" style="color: red;"></i>
                                          </a></td>
                                          <td style="border: solid 1px;"><a href="{% url 'product_edit' product.id %}">
                                            <i class="icon-pencil menu-icon" style="color: blue;"></i>
                                          </a></td>
                                          <td style="border: solid 1px;"><a href="{% url 'product_view' product.id %}">
                                            <i class="icon-eye menu-icon" style="color: green;"></i>
                                          </a></td>
                                      
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
