{% extends 'user_side/header_footer.html' %}
{% load static %}

{% block content %}

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Blog Page</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">Blog</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Blog Area =================-->
    <section class="blog_area mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% for i in data %}
                    <div class="blog_left_sidebar">
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a href="#">Author : </a>
                                        <a class="active" href="#">{{i.blog_author}}</a>
                                        <!-- <a href="#">Politics,</a> -->
                                        <!-- <a href="#">Lifestyle</a> -->
                                    </div>
                                    <ul class="blog_meta list">
                                        <li><a href="#">{{i.created_date}}<i class="lnr lnr-user"></i></a></li>
                                        <!-- <li><a href="#">{{i.created_time}}<i class="lnr lnr-calendar-full"></i></a></li> -->
                                        <!-- <li><a href="#">1.2M Views<i class="lnr lnr-eye"></i></a></li> -->
                                        <!-- <li><a href="#">06 Comments<i class="lnr lnr-bubble"></i></a></li> -->
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="{{ i.blog_img.url }}" alt="" style="width: 500px;height: 300px;">
                                    <div class="blog_details">
                                        <a href="single-blog.html">
                                            <h1 style="font-style: oblique;">{{i.blog_name}}</h1>
                                        </a>
                                        <p style="font-size: 17px;">{{i.blog_content}}.</p>
                                        <a href="{% url 'user_blog_details' i.id %}" class="white_bg_btn">View More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">
                                        <span class="lnr lnr-chevron-left"></span>
                                    </span>
                                </a>
                            </li>
                            <li class="page-item"><a href="#" class="page-link">01</a></li>
                            <li class="page-item active"><a href="#" class="page-link">02</a></li>
                            <li class="page-item"><a href="#" class="page-link">03</a></li>
                            <li class="page-item"><a href="#" class="page-link">04</a></li>
                            <li class="page-item"><a href="#" class="page-link">09</a></li>
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Next">
                                    <span aria-hidden="true">
                                        <span class="lnr lnr-chevron-right"></span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->

{% endblock %}