{% extends 'user_side/header_footer.html' %}
{% load static %}


{% block content %}
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shop Category Page</h1>
                <nav class="d-flex align-items-center">
                    <a href="{% url 'user_index' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Category</a>
                </nav>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <!-- Sidebar Categories -->
        <div class="col-xl-3 col-lg-4 col-md-5" style="margin-top: 30px;">
            <div class="sidebar-categories">
                <div class="head">Browse Categories</div>
                <ul class="main-categories">
                    <li class="main-nav-list">
                        <a href="?category=all">All Products</a>
                    </li>
                    <li class="main-nav-list">
                        <a href="?category=men_shoes">Men Shoes</a>
                    </li>
                    <li class="main-nav-list">
                        <a href="?category=women_shoes">Women Shoes</a>
                    </li>
                    <li class="main-nav-list">
                        <a href="?category=kids">Kids Shoes</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Products Display -->
        <div class="col-xl-9 col-lg-8 col-md-7">
            <section class="lattest-product-area pb-40 category-list">
                <div class="row">
                    {% for product in products %}
                    <!-- Single Product -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-product">
                            <img class="img-fluid" src="{{ product.product_image.url }}" alt="{{ product.product_name }}" style="height: 300px; width: 250px;">
                            <div class="product-details">
                                <h6>{{ product.product_name }}</h6>
                                <div class="price">
                                    <h6>${{ product.product_price }}</h6>
                                </div>
                                <div class="prd-bottom" style="display: flex; justify-content: center; align-items: center; height: 50px;">
                                    <a href="{% url 'user_shop_product_details' product.id %}" style="text-decoration: none; display: inline-flex; align-items: center; justify-content: center; width: 100%; color: #333; background-color: #f7f7f7; border-radius: 5px; padding: 10px;">
                                        <p style="margin: 0; font-size: 14px; font-weight: bold;">view Details</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}
