{% extends 'user_side/header_footer.html' %}
{% load static %}


{% block content %}
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shop Category Page</h1>
                <nav class="d-flex align-items-center">
                    <a href="{% url 'user_index' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Category</a>
                </nav>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <!-- Sidebar Categories -->
        <div class="col-xl-3 col-lg-4 col-md-5" style="margin-top: 30px;">
            <div class="sidebar-categories">
                <div class="head">Browse Categories</div>
                <ul class="main-categories">
                    <li class="main-nav-list">
                        <a href="?category=all">All Products</a>
                    </li>
                    <li class="main-nav-list">
                        <a href="?category=men_shoes">Men Shoes</a>
                    </li>
                    <li class="main-nav-list">
                        <a href="?category=women_shoes">Women Shoes</a>
                    </li>
                    <li class="main-nav-list">
                        <a href="?category=kids">Kids Shoes</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Products Display -->
        <div class="col-xl-9 col-lg-8 col-md-7">
            <section class="lattest-product-area pb-40 category-list">
                <div class="row">
                    {% for product in products %}
                    <!-- Single Product -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-product">
                            <img class="img-fluid" src="{{ product.product_image.url }}" alt="{{ product.product_name }}"
							style="height: 300px;width: 250;">
                            <div class="product-details">
                                <h6>{{ product.product_name }}</h6>
                                <div class="price">
                                    <h6>${{ product.product_price }}</h6>
                                </div>
                                <div class="prd-bottom">
                                    <a href="" class="social-info">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">add to bag</p>
                                    </a>
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-heart"></span>
                                        <p class="hover-text">Wishlist</p>
                                    </a>
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-sync"></span>
                                        <p class="hover-text">compare</p>
                                    </a>
                                    <a href="{% url 'user_shop_product_details' product.id %}" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">view more</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}
