{% extends 'user_side/header_footer.html' %}
{% load static %}



{% block content %}

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Product Details Page</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
						<a href="single-product.html">product-details</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<div class="product_image_area">
		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-6">
						<div class="single-prd-item">
							{% if data.product_image %}
							<img src="{{ data.product_image.url }}" alt="Product Image" style="max-width: 350px;">
						{% else %}
							No Image
						{% endif %}
						</div>
				</div>
				<div class="col-lg-5 offset-lg-1">
					<div class="s_product_text">
						<h3>{{data.product_name}}</h3>
						<h2>{{data.product_price}} /-</h2>
						<ul class="list">
							<li><a href=""><span>Brand Name</span> : {{data.product_brand}}</a></li>
							<li><a class="active" href="#"><span>Category</span> : {{data.product_category}}</a></li>
							<li><a href="#"><span>Availibility</span> : In Stock</a></li>
						</ul>
						<div class="btn" style="background-color: orange;margin-top: 15px;">
							<a href="{% url 'cartview' data.id %}" style="color: aliceblue;padding-left: 30px;padding-right: 30px;">Add To Cart</a>
						</div>
					</div>	
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-12">
					<div style="display: flex; justify-content: space-between; gap: 20px;">
						<div style="flex: 1; padding: 10px; box-sizing: border-box;">
							<h4>Specification</h4>
							<p>{{ data.product_specifications }}</p>
						</div>
						
					</div>
				</div>
			</div>
		</div>


		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-12">
					<div style="display: flex; justify-content: space-between; gap: 20px;">
						<div style="flex: 1; padding: 10px; box-sizing: border-box;">
							<h4>Highlights</h4>
							<p>{{ data.product_highlights }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}


