{% extends 'user_side/header_footer.html' %}
{% load static %}



{% block content %}
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Blog Page</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">Blog</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post row">
                        <div class="blog_left_sidebar">
                            <article class="row blog_item">
                                <div class="col-md-3">
                                    <div class="blog_info text-right">
                                        <div class="post_tag">
                                            <a href="#">Author : </a>
                                            <a class="active" href="#">{{data.blog_author}}</a>
                                            <!-- <a href="#">Politics,</a> -->
                                            <!-- <a href="#">Lifestyle</a> -->
                                        </div>
                                        <ul class="blog_meta list">
                                            <li><a href="#">{{data.created_date}}<i class="lnr lnr-user"></i></a></li>
                                            <!-- <li><a href="#">{{i.created_time}}<i class="lnr lnr-calendar-full"></i></a></li> -->
                                            <!-- <li><a href="#">1.2M Views<i class="lnr lnr-eye"></i></a></li> -->
                                            <!-- <li><a href="#">06 Comments<i class="lnr lnr-bubble"></i></a></li> -->
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="blog_post">
                                        <img src="{{ data.blog_img.url }}" alt="" style="width: 700px;height: 500px;">
                                        <div class="blog_details">
                                            <a href="single-blog.html">
                                                <h1 style="font-style: oblique;">{{data.blog_name}}</h1>
                                            </a>
                                            <p style="font-size: 17px;">{{data.blog_content}}.</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="navigation-area">
                        <div class="row">
                        </div>
                    </div>
                 </div>
                 <div class="col-lg-4">
                    <div class="blog_right_sidebar">   
                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">More Blogs</h3>
                            {% for i in more %}
                            <div class="media post_item">
                                <img src="{{ i.blog_img.url }}" alt="post" style="width: 100px;height: 100px;">
                                <div class="media-body">
                                    <a href="{% url 'user_blog_details' i.id %}">
                                        <h4 style="font-style: oblique;">{{i.blog_name}}</h4>
                                    </a>
                                    <p>{{i.created_date}}</p>
                                    <a href="{% url 'user_blog_details' i.id %}" class="white_bg_btn">More Details</a>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- <div class="media post_item">
                                <img src="{% static 'img/blog/popular-post/post2.jpg' %}" alt="post">
                                <div class="media-body">
                                    <a href="blog-details.html">
                                        <h3>The Amazing Hubble</h3>
                                    </a>
                                    <p>02 Hours ago</p>
                                </div>
                            </div> -->
                            <!-- <div class="media post_item">
                                <img src="{% static 'img/blog/popular-post/post3.jpg' %}" alt="post">
                                <div class="media-body">
                                    <a href="blog-details.html">
                                        <h3>Astronomy Or Astrology</h3>
                                    </a>
                                    <p>03 Hours ago</p>
                                </div>
                            </div> -->
                            <!-- <div class="media post_item">
                                <img src="{% static 'img/blog/popular-post/post4.jpg' %}" alt="post">
                                <div class="media-body">
                                    <a href="blog-details.html">
                                        <h3>Asteroids telescope</h3>
                                    </a>
                                    <p>01 Hours ago</p>
                                </div>
                            </div> -->
                            
                        </aside>
                    </div>
                </div>
            </div>
        </div>

    </section>

       <div class="section">
            <div class="col-lg-10" style="margin: auto; margin-bottom: 5%;">
                <div class="row">
                    {% for i in sub_images %}
                    <div class="col-4" style="display: flex; flex-direction: column; align-items: center; margin-bottom: 20px;">
                        <img class="img-fluid" src="{{i.image.url}}" alt="" style="max-width: 100%; border-radius: 10px;">
                        <div class="quotes" style="background-color: lightgray; padding: 10px; border-radius: 5px; margin-top: 10px; width: 90%; text-align: center;">
                            <p style="margin: 0; color: black;">{{i.name}}</p>
                        </div>
                        <div class="quotes" style="background-color: lightgray; padding: 10px; border-radius: 5px;
                         margin-top: 10px; width: 90%; text-align: center; height: 50%;">
                            <p style="margin: 0;color: black;">{{i.content}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    
    <!--================Blog Area =================-->

 {% endblock %}